
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h3>Login</h3>
  <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" placeholder="pat@example.com" required>
      <mat-error *ngIf="loginForm.controls.email.errors && loginForm.controls.email.errors.required">Email is required</mat-error>
      <mat-error *ngIf="loginForm.controls.email.errors && loginForm.controls.email.errors.email">Email is required</mat-error>
  </mat-form-field>
  <br>
  <br>
  <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" [type]="passwordHide ? 'password' : 'text'" required>
      <button type="button" mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
          <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.controls.password.errors && loginForm.controls.password.errors.required">Password is required</mat-error>
  </mat-form-field>
  <br>
  <a class="forgot-password-link" [routerLink]="['/forgot-password']" routerLinkActive="router-link-active" >Forgot password?</a>
  <br>
  <br>
  <mat-card-actions>
      <button mat-raised-button class="mr-2" type="submit" color="primary" [disabled]="!loginForm.valid">LOGIN</button>
      <button mat-raised-button type="button" color="secondary" [routerLink]="['/register']">REGISTER</button>
  </mat-card-actions>
</form>