:host {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.mat-form-field {
    min-width: 280px;
}

.success-card {
    background-color: green;
    color: white;
    margin-bottom: 25px;
}

.mr-2 {
    margin-right: 20px;
}

form {
    margin-top: 50px;
}

mat-icon {
    cursor: pointer;
}

.mat-form-field-infix {
    border-top: 0;
    margin-right: 10px;
}