
<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <h3>Reset password</h3>
  <p>Enter a new password for your account. We highly recommend you to create a unique password, one that you don't use for any other websites.</p>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>New password</mat-label>
    <input matInput formControlName="newPassword" [type]="newPasswordHide ? 'password' : 'text'" required>
    <button type="button" mat-icon-button matSuffix (click)="newPasswordHide = !newPasswordHide" [attr.aria-label]="'Hide new password'" [attr.aria-pressed]="newPasswordHide">
        <mat-icon>{{newPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="resetPasswordForm.controls.newPassword.errors && resetPasswordForm.controls.newPassword.errors.required">New password is required</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Repeat new password</mat-label>
    <input matInput formControlName="repeatNewPassword" [type]="repeatNewPasswordHide ? 'password' : 'text'" required>
    <button type="button" mat-icon-button matSuffix (click)="repeatNewPasswordHide = !repeatNewPasswordHide" [attr.aria-label]="'Hide repeat new password'" [attr.aria-pressed]="repeatNewPasswordHide">
        <mat-icon>{{repeatNewPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="resetPasswordForm.controls.repeatNewPassword.errors && resetPasswordForm.controls.repeatNewPassword.errors.required">Repeat new password is required</mat-error>
  </mat-form-field>
  <br>
  <p class="error" *ngIf="!isPasswordsEqual()">Passwords are not equal</p>
  <br>
  <br>
  <mat-card-actions>
      <button mat-raised-button class="mr-2" type="submit" color="primary" [disabled]="!resetPasswordForm.valid || !isPasswordsEqual()">Submit</button>
  </mat-card-actions>
</form>