
<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <h3>Forgot your password?</h3>
  <p>Don't worry! Just fill in your email and we'll send you a link to reset your password.</p>
  <br>
  <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" placeholder="pat@example.com" required>
      <mat-error *ngIf="forgotPasswordForm.controls.email.errors && forgotPasswordForm.controls.email.errors.required">Email is required</mat-error>
      <mat-error *ngIf="forgotPasswordForm.controls.email.errors && forgotPasswordForm.controls.email.errors.email">Email is required</mat-error>
  </mat-form-field>
  <br>
  <br>
  <mat-card-actions>
      <button mat-raised-button class="mr-2" type="submit" color="primary" [disabled]="!forgotPasswordForm.valid">Submit</button>
  </mat-card-actions>
</form>