<div class="events-overview">
  <button mat-raised-button (click)="showSubscribedToEvents = !showSubscribedToEvents" color="primary" *ngIf="isLoggedIn$ | async">
    {{ !showSubscribedToEvents ?  'Subscribed to events' : 'All events' }}
  </button>

  <mat-form-field appearance="fill" *ngIf="(categories$ | async) as categories">
    <mat-label>Categories</mat-label>
    <mat-select [formControl]="categoriesFormControl" (selectionChange)="selectCategory()" multiple>
      <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="tags">
    <mat-label>Tags</mat-label>
    <mat-select (selectionChange)="selectTag($event)" multiple>
      <mat-option *ngFor="let tag of tags" [value]="tag.id">{{tag.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-grid-list *ngIf="!showSubscribedToEvents; else subscribedToEvents" cols="4" rowHeight="1:1">
    <mat-grid-tile *ngFor="let event of filteredEvents">
      <mat-card>
        <img [src]="sanitize(event.imageUrl)" alt="">

        <mat-card-title (click)="navigateToDetail(event)">
          {{event.title}}
        </mat-card-title>

        <mat-card-content>
          {{event.description}}
        </mat-card-content>

        <mat-card-footer>
          <span><strong>Maximum number of participants:</strong> {{event.maxAmountOfAttendees}}</span><br>
          <span><strong>Costs of participation:</strong> €{{event.euroAmount}}</span><br>
          <ng-container *ngIf="isLoggedIn$ | async">
            <button type="button" mat-raised-button color="primary" [routerLink]="['edit', event.id]" *appIsAllowedForOrganizer="event.user.id">Edit</button>
            <button type="button" mat-raised-button color="primary" (click)="subscribeToEvent(event.id, $event)" *appIsNotAllowedForOrganizer="event.user.id">Subscribe</button>
            <button type="button" mat-raised-button color="primary" (click)="deleteEvent(event.id)" *appIsAllowedForOrganizer="event.user.id">Delete</button>
			      <button type="button" mat-raised-button color="primary" (click)="openWishlistPicker(event.id)" *ngIf="isLoggedIn$ | async">Add to wishlist</button>
          </ng-container>

        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <ng-template #subscribedToEvents>
    <mat-grid-list cols="4" rowHeight="1:1">
      <mat-grid-tile *ngFor="let event of eventsByUser">
        <mat-card (click)="navigateToDetail(event)">
          <img [src]="sanitize(event.imageUrl)" alt="">

          <mat-card-title>
            {{event.title}}
          </mat-card-title>

          <mat-card-content>
            {{event.description}}
          </mat-card-content>

          <mat-card-footer>
            <span><strong>Maximum number of participants:</strong> {{event.maxAmountOfAttendees}}</span><br>
            <span><strong>Costs of participation:</strong> €{{event.euroAmount}}</span><br>
            <ng-container *ngIf="isLoggedIn$ | async">
              <button type="button" mat-raised-button color="primary" [routerLink]="['edit', event.id]" *appIsAllowedForOrganizer="event.user.id">Edit</button>
              <button type="button" mat-raised-button color="primary" (click)="subscribeToEvent(event.id, $event)" *appIsNotAllowedForOrganizer="event.user.id">Subscribe</button>
              <button type="button" mat-raised-button color="primary" (click)="deleteEvent(event.id)" *appIsAllowedForOrganizer="event.user.id">Delete</button>
            </ng-container>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-template>
</div>
