.event-detail {
  height: 100%;
  width: 100%;

  .event-detail-container {
    
    padding: 40px 0px 40px 220px;
    align-content: center;
  
    mat-card {
      width: 45%;
      margin: auto;
      padding-bottom: 40px;

      img {
        height: 50%;
        width: 100%;
        object-fit: cover;
      }
  
      mat-card-title {
        margin-top: 10px;
        margin-bottom: 20px;
      }
  
      mat-card-footer {
        margin-left: 1px;

        button {
          margin: 10px 5px 10px 0px;
        }
      }
    }
  }
}
